
.wrap{
    margin:0 auto;
    width: 1200px;;
    height:auto;
   margin-top: 10px;
   

}
.container {
    margin:0 auto;
    xbackground-color: rgb(179, 179, 179);
    width: 1190px;
    height:400px;
    position: relative;
    overflow: hidden;

}
.containerWrap{
    margin:0 auto;
    xbackground-color: rgb(235, 23, 23);
    width: 1190px;
    height:400px;
    
    position: relative;
}

.btn_next{
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    width:50px;
    height:50px;
    xbackground-color: rgb(84, 13, 190);
    position:absolute;
    right:-50px;
    top:50%;
    transform: translate(0,-50%);
    cursor: pointer;
}

.btn_prev{
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    width:50px;
    height:50px;
    xbackground-color: rgb(206, 73, 73);
    position:absolute;
    top:50%;
    left:-50px;
    transform: translate(0,-50%);
    cursor: pointer;
}

.slider{
    
    display: inline-flex;
    
    
}

#item_box{
    border-radius: 50px;
    width: 400px; /*400px*/
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-2000px);
}



/*
.slider > li:nth-child(2n){
    background-color: #777777;
   
}
.slider > li:nth-child(2n-1){
    background-color: #ffffff;
}
*/
#item_content{
    width: 390px;/*390px*/
    margin-right: 10px;
    height:400px;

}

#item_content:nth-child(2n-1)
{
    background-color: #d1d1d1;
}

.slider :nth-child(1) > div
{
    background-color: #b54040;
}
.clone {
    
    
}
@media(max-width:1024px) {
    .container {
        margin:0 auto;
        xbackground-color: rgb(179, 179, 179);
        width: 390px;
        height:400px;
        position: relative;
        overflow: hidden;
    
    }
    .containerWrap{
        margin:0 auto;
        xbackground-color: rgb(235, 23, 23);
        width: 390px;
        height:400px;
        
        position: relative;
    }
    .wrap{
        margin:0 auto;
        width: 100%;
        height:auto;
       margin-top: 10px;
       
    
    }
    

}

@media(max-width:375px) {
    .container {
        margin:0 auto;
        xbackground-color: rgb(179, 179, 179);
        width: 290px;
        height:300px;
        position: relative;
        overflow: hidden;
    
    }
    .containerWrap{
        margin:0 auto;
        xbackground-color: rgb(235, 23, 23);
        width: 290px;
        height:300px;
        
        position: relative;
    }
    .wrap{
        margin:0 auto;
        width: 100%;
        height:auto;
       margin-top: 10px;
       
    
    }
    #item_box{
        border-radius: 50px;
        width: 400px; /*400px*/
        height: 400px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-1500px);
    }

    #item_content{
        width: 290px;/*390px*/
        margin-right: 10px;
        height:300px;
    
    }

    #item_box{
        border-radius: 50px;
        width: 300px; /*400px*/
        height: 300px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
